// vars
$bg: #fff;
$lightGrey: lightgrey;
$white: #fff;
$footer: #CBCBCB;
$space-small: 2%;
$block-width: 250px;
$block-height: 300px;
$radius: 7px;
$center: 50%;
$font-weight500: 500;
$font-weight600: 600;

.goalBlock {

  &.details {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    margin: 0;
  }

  background-color: $bg;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
  display: flex;
  flex: 1 23%;
  flex-flow: column;
  margin: $space-small;
  max-width: $block-width;
  min-width: $block-width;
  max-height: $block-height;
  border-radius: $radius;
  overflow: hidden;

  & .goalBlock-img {
    flex: 1 30%;
    position: relative;
    background: $lightGrey;
    height: $center;
    overflow: hidden;

    &.img-center {
      object-position: $center $center;
    }

    & .goalBlock-name {
      position: absolute;
      top: $center;
      left: $center;
      transform: translateX(-$center);
      text-transform: uppercase;
      font-weight: $font-weight500;
      color: $white;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: $center $center;
    }
  }

  & .goalBlock-body {
    flex: 1 30%;
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: $center;

    & .goalBlock-button {
      text-align: right;
      top: -3px;
      position: relative;
    }

    & .goalBlock-balance {
      font-weight: $font-weight600;
      &.amount {
        font-size: 12px;
        text-align: right;
        font-weight: $font-weight500;
      }
      &:before {
        content: '£ ';
        font-size: 12px;
      }
      &:after {
        content: '.00';
      }
    }

    & .goalBlock-title {
      font-weight: $font-weight600;
      margin: 0;
    }

    & .goalBlock-date {
      text-align: center;
      margin: 0;
      font-weight: $font-weight500;
      font-size: 12px;
    }

    & .goalBlock-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    & .goalBlock-footer {
      color: $footer;
      padding: 16px 0;
    }

    // fixes for details page
    &.details {
      & div {
        margin-bottom: 15px;
      }

      flex: 1 30%;
      padding: 0 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;

      .wrap-goalBlock-top {
        & div {
          display: inline-block;
          box-sizing: border-box;
          width: $center;

          &:nth-child(1) {
            text-align: left;
          }
          &:nth-child(2) {
            text-align: right;
          }
        }
      }

      & .goalBlock-button {
        margin-top: 15px;
        top: 0;
      }

      & .goalBlock-title {
        text-transform: capitalize;
      }

      & .goalBlock-description {
        font-weight: $font-weight500;
        opacity: 0.5;
      }

      & .goalBlock-date {
        text-align: right;
      }
    }
  }
}
