//vars
$orange: #F4D336;
$blue: #35B8C1;
$sm: 25px;

.customButton {
  border: none;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  vertical-align: middle;
  height: 40px;
  padding-bottom: 0;

  &.small{
    height: $sm;
    width: $sm;
    padding-bottom: 5px;
  }

  &:hover {
    cursor: pointer;
  }

  &.completed {
    background-color: $blue;
  }
}
