/* import Roboto fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

// vars
$bodyColor: #f4f4f4; // body background-color
$bodyFontsColor: #8D8D8D;

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: $bodyFontsColor;
  background-color: $bodyColor;
}

.App {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: left;
  flex: 100%;
}

.App-title {
  font-size: 1.5em;
  float: right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  min-width:450px;
  max-width: 100%;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;

  & .wrapper {
    min-width:450px;
    max-width: 80%;
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    justify-content: center;
  }
}
