/* import Roboto fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
  font-family: Roboto;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  float: right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
